/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark mode */
@import "@ionic/angular/css/palettes/dark.system.css";

/* ⚠️ Línea comentada para evitar error si no usas Angular Material */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Estilos Globales */
ion-app,
ion-content {
  --background: url('assets/img/fondo_paginas.jpg') no-repeat center center / cover;
}

ion-header {
  --background: transparent;
  --ion-toolbar-background: transparent;
  --ion-toolbar-border-color: transparent;
}

ion-header,
ion-toolbar,
ion-buttons,
app-company-name {
  color: #0066cc; /* Azul corporativo */
}

ion-header,
ion-toolbar {
  --ion-toolbar-border-color: transparent;
  --background: transparent;
}

.header-md {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.title_tab h2 {
  text-align: center;
  color: #0066cc;
}

